body {
	background-color: white;
	font-family: 'Ubuntu';
}

textarea {
	width: 100%;
	height: 20vw;
}

.row {
	padding-bottom: 3%;
}

#header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 3%; 
	color: #4386fc;
}

#todo-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#todo-logo div {
	padding-left: 2%;
}

#page-title {
	display: flex;
	justify-content: flex-end;
}

#btn {
	background-color: #4386fc; 
	width: 100%;
	border: none;
}

